@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body {
    background: url("images/pattern-background-mobile.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > img:first-child {
    width: 84%;
    border-radius: 15px 15px 0 0;
}

body > div {
    width: 84%;
    padding: 0 25px 20px 25px;
    border-radius: 0 0 15px 15px;
    background-color: hsl(225, 100%, 98%);
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    text-align: center;
    margin: 25px 0;
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

body > div > div:first-of-type {
   display: flex;
   /* flex-direction: column; */
   background-color: hsl(220, 25%, 95%); 
   border-radius: 15px;
   margin: 25px 0;
   padding: 15px;
}

body > div > div > div {
    line-height: 25px;
    margin: 0 14% 0 4%;
}

body > div > div > div > div:first-child {
    font-size: 0.7rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

body > div > div > div > div:last-child {
    font-size: 0.8rem;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

body > div > div:first-of-type button:first-of-type {
    color: hsl(245, 75%, 52%);
    font-size: 0.7rem;
    font-weight: 900;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

body > div > div button:first-of-type:hover {
    cursor: pointer;
    color: rgb(133, 83, 224);
    text-decoration: none;
}

body > div > div:last-child {
    display: flex;
    flex-wrap: wrap;
}

body > div > div:last-of-type > button:first-of-type {
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-weight: 900;
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 5px 25px 35px rgb(148, 161, 163);
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

body > div > div:last-of-type > button:first-of-type:hover {
    background-color: rgb(133, 83, 224); 
}

body > div > div:last-child button:last-child {
    color: hsl(224, 23%, 55%);
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 900;
    width: 100%;
    padding: 15px;
    border: none;
}

body > div > div:last-child button:last-child:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

@media screen and (min-width: 376px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
        /* background-position: center -30%; */
        background-position: top center;
        background-size: 100% 310px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
    }
    
    body > img:first-child {
        width: 360px;
        /* min-width: 250px; */
    }

    body > div {
        width: 360px;
        /* min-width: 250px; */
    }

    body > div > div:first-of-type {
        display: flex;
        flex-direction: row;
    }

    /* body > div > div > div > div:first-child {
        font-size: 0.9rem;
    } */

    body > div > div > div > div:last-child {
        font-size: 0.9rem;
    }

    body > div > div:first-of-type button:first-of-type {
        font-size: 0.9rem;
    }

    body > div > div > div {
        margin: 0 20% 0 8%;
    }
}
